@import url('https://fonts.googleapis.com/css?family=Exo+2|Orbitron&display=swap');

body{
  /* background-color: black; */
  background: black;
  margin: 0;
  border:0;
  padding:0;
  box-sizing: border-box;
}

canvas{
  padding-left: 0;
  padding-right: 0;
  margin:auto;
  display: block;
  background-color: transparent;
  mix-blend-mode: soft-light
}

div{
  background-color: transparent;
  text-shadow:
  -0.2px -0.2px 1px rgb(200, 223, 255,0.7),
  0.2px 0.2px 1px rgb(200, 223, 255,0.7),
  0 0 5px #5499F7,
  0 0 8px #5499F7,
  0 0 15px #5499F7;
}

#header{
  width: 100%;
  height: 100px;
  z-index: -1;
  position: absolute;
  background-color:rgba(71, 57, 85, 0.9);
  top:0px;
  display:grid;
  grid-template-columns: repeat(6, 7fr);
  grid-template-rows: 1fr;
  grid-template-areas:
    "title title title player-stats player-stats player-stats player-stats"
    "title title title player-stats player-stats player-stats player-stats"
}

#player-stats{
  width:800px;
  height:100px;
  grid-area: player-stats;
  display:flex;
  flex-direction: row;
  transform: translate(0,15px);
}

#game-title{
  grid-area: title;
  width: 550px;
  height: 100px;
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  color: transparent;
  margin: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.player-stats{
  display: flex;
  font-size: 24px;
  font-family: 'Exo 2 Light', sans-serif;
  color:white;
}

#player1{
  width:350px;
  grid-area: player1;
}
#player2{
  width:350px;
  grid-area: player2;

} 


.player-name{
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  color:white;
}


.num{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Exo 2 Medium', sans-serif;
  color:white;
}

.pulse{
  animation: pulse 2s;
}



#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  text-align: center;
}

#gameOver{
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  transform: translateY(calc(50vh - 100px));
  color: rgba(255,255,255,0.7);
  text-shadow:
  -0.2px -0.2px 1px rgb(200, 223, 255,0.7),
  0.2px 0.2px 1px rgb(200, 223, 255,0.7),
  0 0 5px #5499F7,
  0 0 8px #5499F7,
  0 0 15px #5499F7;
  animation: pulse 5s infinite;
}

#playAgain{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 60px;
  font-size: 250%;
  text-align: center;
  transform: translateY(calc(50vh - 150px));
  color: rgba(255,255,255,0.7);
  text-shadow:
  -0.2px -0.2px 1px rgb(200, 223, 255,0.7),
  0.2px 0.2px 1px rgb(200, 223, 255,0.7),
  0 0 5px #5499F7,
  0 0 8px #5499F7,
  0 0 15px #5499F7;
}



@keyframes pulse {
  0%, 100%  {filter: brightness(none); }
  50% {filter: brightness(2); }
}